<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngFor="let user of users">
      <ion-card-header>
        <ion-card-title>{{user.name}}</ion-card-title>
        <ion-card-subtitle *ngIf="user.todos">{{user.todos.length}} tâche{{user.todos.length > 1 ? 's' : ''}} - {{statusTodoCheck(user.todos).unChecked}} à faire</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-list *ngIf="user.todos">
          <ion-item *ngFor="let todo of user.todos">
            <ion-checkbox slot="start" [checked]="todo.completed"></ion-checkbox>
            <ion-label>{{todo.title}}</ion-label>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
